// .Recipe
//     ol, ul
//         padding-left: 1.2em

.RecipeTitle
    input
        width: 100%

.RecipeTimes
    label
        display: inline-block
        width: 8em
        input
            width: 3em

.RecipeIngredients
    list-style: none
    margin-left: 0
    padding-left: 0

.RecipeIngredientRow
    input
        margin-right: 0.1em
        font-size: 0.8em

    .EditableInputText

        &:read-only
            padding-left: 0.3em
            padding-bottom: 0.3em
            border: 1px solid rgba(0,0,0,0.1)
            background-color: transparent

.RecipeIngredientRow-Amount
    width: 4em

.RecipeIngredientRow-Unit
    width: 8em

.RecipeIngredientRow-Type
    width: 7em
    font-size: 0.8em
    margin-left: 0.3em

.RecipeIngredientRow-Label
    display: inline-block
    input
        width: 10em

.RecipeIngredientRow-Notes
    width: 16em


.RecipeDirections-List
    padding-left: 1.2em



.RecipeYield-Amount,
.RecipeYield-Label
    display: inline-block

.RecipeYield-Label
    margin-left: 0.25em

.Source-Url
    margin-right: 0.5em
    text-decoration: none

.RecipeSource
    input
        padding: 0
        width: 40em // TODO improve for smaller screens
