// TODO reorg this into folder/subfiles

.Recipe
    h2
        margin-top: 0.75em

.RecipeTitle
    input
        width: 100%

.RecipeTimes
    label
        display: inline-block
        width: 8em
        input
            width: 3em

.RecipeIngredients
    list-style: none
    margin-left: 0
    padding-left: 0

.RecipeDirections-List
    padding-left: 1.2em

.RecipeYield-Amount,
.RecipeYield-Label
    display: inline-block

.RecipeYield-Label
    margin-left: 0.25em

.Source-Url
    margin-right: 0.5em
    text-decoration: none

.RecipeSource
    input
        padding: 0
        width: 40em // TODO improve for smaller screens

.RecipeTagsCreate
