mixin editableRecipeDirections(directions, endpoint)
    .RecipeDirections(data-endpoint=endpoint)
        ol.RecipeDirections-List
            if directions
                each direction in directions
                    li.RecipeDirections-Step(contenteditable)= direction

        button.RecipeDirections-Add Add Step
