mixin editableRecipeDirections(directions, endpoint)
    .RecipeDirections(data-endpoint=endpoint)
        ol.RecipeDirections-List
            if directions
                each direction in directions
                    li.RecipeDirections-Step(contenteditable data-step-id=direction._id)= direction.step

        button.RecipeDirections-Add Add Step
