doctype html
html
    head
        meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        meta(content="width=device-width" name="viewport")
        block title
            title FMS Recipes
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
        //- link(rel="stylesheet", href=`${root}styles/main.css`)
        link(rel="stylesheet", href="/styles/recipes.css")

    body
        block content

        block scripts
