extends _layout.pug

block content
    article
        h1 Home Page

        h2 Create Recipe
        
        .CreateRecipeForm
            input(type="text" id="addRecipeName" placeholder="New Recipe Name")
            button(id="addRecipeButton") Add Recipe

        h2.Testing Testing

        h3 Views

        ul
            li
                a(href="/recipes") /recipes
            li
                a(href="/recipes/53552cce85da3d10277f567a") /recipes/53552cce85da3d10277f567a (Baba Ghanouj)
        
        
        h3 API

        ul
            li
                a(href="/api/recipes") /api/recipes
            li
                a(href="/api/recipes/53552cce85da3d10277f567a") /api/recipes/53552cce85da3d10277f567a (Baba Ghanouj)

block scripts
    script(src="/js/home.js")
