extends _layout.pug

block content
    article
        h1 Home Page

        h2 Add New Elements

        h3 Create Recipe
        
        .CreateRecipeForm.CreateForm
            input(type="text" name="addRecipeName" placeholder="New Recipe Name")
            button(name="addRecipeButton") Add Recipe
        
        h3 Create Ingredient

        .CreateIngredientForm.CreateForm
            input(type="text" name="addIngredientName" placeholder="New Ingredient Name")
            button(name="addIngredientButton") Add Ingredient

        h3 Create Unit

        .CreateUnitForm.CreateForm
            input(type="text" name="addUnitName" placeholder="New Unit Name")
            button(name="addUnitButton") Add Unit

        h2.Testing Testing

        h3 Views

        ul
            li
                a(href="/recipes") /recipes
            li
                a(href="/recipes/53552cce85da3d10277f567a") /recipes/53552cce85da3d10277f567a (Baba Ghanouj)
            li
                a(href="/ingredients") /ingredients
            li
                a(href="/units") /units
        
        h3 API

        ul
            li
                a(href="/api/recipes") /api/recipes
            li
                a(href="/api/recipes/53552cce85da3d10277f567a") /api/recipes/53552cce85da3d10277f567a (Baba Ghanouj)

block scripts
    script(src="/js/home.js")
