extends _layout.pug

block content
    article
        h1 Home Page

        h2 Views

        ul
            li
                a(href="/recipes") /recipes
            li
                a(href="/recipes/53552cce85da3d10277f567a") /recipes/53552cce85da3d10277f567a (Baba Ghanouj)
        
        
        h2 API

        ul
            li
                a(href="/api/recipes") /api/recipes
            li
                a(href="/api/recipes/53552cce85da3d10277f567a") /api/recipes/53552cce85da3d10277f567a (Baba Ghanouj)
