extends _layout.pug

block content
    article
        h1 Recipes By Tag
        
        if err
            p The specified tag does not exist.
        else
            ul.RecipeList
                each recipe in recipes
                    li
                        a(href=`/recipes/${recipe._id}`)= recipe.label
