extends _layout.pug

block content
    article
        h1 All Tags
        
        if err
            p= err
        else
            ul.TagList
                each tag in tags
                    li
                        a(href=`/recipes/tagged/${tag.slug}`)= tag.label
