h2 {
  margin-bottom: 0.5em; }

.EditableInputText:read-only {
  padding-left: 0;
  padding-bottom: 0;
  border: 0;
  background-color: transparent; }

.EditableTextArea:read-only {
  padding-left: 0;
  border: 0;
  background-color: transparent; }

.RecipeDirections-Step .EditableTextArea {
  width: 100%; }

.Recipe ol, .Recipe ul {
  padding-left: 1.2em; }

.RecipeTitle input {
  width: 100%; }

.RecipeIngredientRow input {
  margin-right: 0.1em;
  font-size: 0.8em; }

.RecipeIngredientRow .EditableInputText:read-only {
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent; }

.RecipeIngredientRow-Amount {
  width: 4em; }

.RecipeIngredientRow-Unit {
  width: 8em; }

.RecipeIngredientRow-Type {
  width: 6em; }

.RecipeIngredientRow-Label {
  width: 10em; }

.RecipeIngredientRow-Notes {
  width: 16em; }

.RecipeYield-Amount,
.RecipeYield-Label {
  display: inline-block; }

.RecipeYield-Label {
  margin-left: 0.25em; }

.Source-Url {
  margin-right: 0.5em;
  text-decoration: none; }

.RecipeSource input {
  padding: 0;
  width: 40em; }
