.EditableInputText:read-only {
  padding-left: 0;
  border: 0;
  background-color: transparent; }

.EditableTextArea:read-only {
  padding-left: 0;
  border: 0;
  background-color: transparent; }

.RecipeDirections-Step .EditableTextArea {
  width: 100%; }
